:root {
    --offcanvas-width: 270px;
    --topNavBarHeight: 90px;

}

.dashboard-list{
    list-style-type: none;
    line-height: 2.5;
  
    
}

.dashboard-list li{
    border-bottom: 1px solid rgb(42, 42, 42);
   
}



.sidebar-nav {
    width: var(--offcanvas-width);
}

@media (min-width:992px) {
    body {
        overflow: auto !important;
    }

    .offcanvas-backdrop::before {
        display: none;
    }

    .dashboard-width {
        width: calc(100% - var(--offcanvas-width));

    }


    .sidebar-nav {
        transform: none;
        visibility: visible !important;
        top: var(--topNavBarHeight);
        height: calc(100% - var(--topNavBarHeight));
    }
}